<h1>BURGERS </h1>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger to eat: </label>
    <input type="text" id="bu" name="burger">
  </div>


  <button type="submit" class="btn btn-dark">Add Burger</button>
</form>

<h2>Burgers to be devoured</h2>

<ul class="list-group">
  <li class="list-group-item"></l>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </li>
</ul>


<h2>Burgers that are devoured</h2>

<ul class="list-group">
  <li class="list-group-item"></il>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
  </li>
</ul>