<li>
	{{burger_name}}

	{{#if devoured}}
	<button class="change-devoured btn btn-light" data-id="{{id}}" data-newdevoured="{{devoured}}">DEVOR!</button></button>
	{{else}}
	<h2>That was delicious!</h2>
	{{/if}}
</li>